body {
  margin-top: 10px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  max-width: 50%;
  height: 50px;
  margin-right: auto;
  margin-left: auto;
  background-color: blanchedalmond;
}

nav a {
  margin-left: 100px;
  text-decoration: none;
}

nav a:hover {
  background-color:darkgoldenrod;
}
